{
  env: {
    browser: true,
    es6: true,
    node: true,
  },
  extends: [
    'airbnb-typescript',
    'airbnb/hooks',
    'plugin:@typescript-eslint/eslint-recommended',
    'plugin:@typescript-eslint/recommended',
    'plugin:@typescript-eslint/recommended-requiring-type-checking',
    'prettier',
    'airbnb-typescript-prettier',
  ],
  parser: '@typescript-eslint/parser',
  parserOptions: {
    ecmaFeatures: {
      jsx: true,
    },
    ecmaVersion: 2018,
    sourceType: 'module',
    project: './tsconfig.json',
  },
  plugins: ['react', '@typescript-eslint'],
  rules: {
    'react-hooks/rules-of-hooks': 0,
    'no-console': ['error'],
    'react/jsx-no-target-blank': 0,
    'react/no-unescaped-entities': 0,
    'react/no-array-index-key': 0,
    '@typescript-eslint/no-var-requires': 0,
    'import/no-named-as-default': 0,
    'no-restricted-syntax': 0,
    'prefer-const': 0,
    'prefer-template': 0,
    'no-plusplus': 0,
    'no-await-in-loop': 0,
    'react/jsx-props-no-spreading': 0,
    'lines-between-class-members': 0,
    'no-underscore-dangle': 0,
    'no-restricted-globals': 0,
    'class-methods-use-this': 0,
    'max-classes-per-file': 0,
    'jsx-a11y/click-events-have-key-events': 0,
    'jsx-a11y/no-static-element-interactions': 0,
    'react/no-did-update-set-state': 1,
    'jsx-a11y/label-has-associated-conrol': 0,
    '@typescript-eslint/no-unnecessary-type-assertion': 0,
    '@typescript-eslint/no-misused-promises': 0,
    '@typescript-eslint/require-await': 'off',
    'import/prefer-default-export': 'off',
    'jsx-a11y/anchor-is-valid': 0,
    'react/state-in-constructor': 0,
    'prefer-destructuring': 0,
    '@typescript-eslint/explicit-function-return-type': 0,
    '@typescript-eslint/ban-ts-ignore': 0,
    '@typescript-eslint/class-name-casing': 0,
    'object-curly-newline': 0,
    'no-template-curly-in-string': 0,
    'max-len': ['error', { code: 120, ignorePattern: '^import|d="' }],
    'react/destructuring-assignment': 0,
    '@typescript-eslint/member-delimiter-style': 0,
    'import/no-unresolved': 0,
    '@typescript-eslint/semi': ['error', 'never'],
    'import/no-extraneous-dependencies': 0,
    'react/jsx-filename-extension': [2, { extensions: ['.tsx'] }],
    'react/prop-types': 0,
    '@typescript-eslint/interface-name-prefix': ['error', { prefixWithI: 'always', allowUnderscorePrefix: false }],
  },
  globals: {},
  settings: {
    react: {
      pragma: 'React',
      version: 'detect',
    },
  },
}
