.ant-modal-header {
  border-bottom: none;
}

.ant-modal-footer {
  border-top: none;
}

.fullscreen .ant-modal-body {
  height: calc(100% - 125px);
}

.fullscreen .ant-modal-content {
  height: 100%;
}

.fullscreen.ant-modal {
  width: 100% !important;
  min-height: 100% !important;
  max-width: none;
  margin: auto;
  top: 0;
  padding: 0;
}
